<div class="grid-todo">
  <h1>{{ title }}</h1>
  <!--  form add task-->
  <form class="col-sm-3 mb-4">
    <div class="form-group">
      <div class="label">Nom de la tache</div>
      <input [(ngModel)]="task.title" class="form-control" required name="title" type="text">
    </div>
    <div class="form-group">
      <div class="label">Statut</div>
      <select [(ngModel)]="task.status" class="form-control" name="status">
        <option [value]="'TODO'">A faire</option>
        <option [value]="'PROGRESS'">En cours</option>
        <option [value]="'DONE'">Termine</option>
      </select>
    </div>
    <div class="form-group">
      <button (click)="addTask()"  class="btn btn-success" type="button">AJOUTER</button>
    </div>
  </form>
  <!--  end form add task-->
  <!--  list des taches-->
  <div class="row filters">
    <div class="col-sm-3">
      <button (click)="getAllTask()" class="btn btn-block btn-danger">Tout</button>
    </div>
    <div class="col-sm-3">
      <button (click)="filterTask('TODO')" class="btn btn-block btn-primary">To Do</button>
    </div>
    <div class="col-sm-3">
      <button (click)="filterTask('PROGRESS')" class="btn btn-block btn-warning">In Progress</button>
    </div>
    <div class="col-sm-3">
      <button (click)="filterTask('DONE')" class="btn btn-block btn-success">Done</button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <td>Id</td>
      <td>Title</td>
      <td>Status</td>
      <td>Supprimer</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasks$| async">
      <td>{{task.id}}</td>
      <td>{{ task.title }}</td>
      <td>{{ task.status }}</td>
      <td>
        <button (click)="deleteTask(task.id)" class="btn btn-danger">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
