form {
  margin-bottom: 5%;
}

.filters {
  margin-bottom: 7%;

  button {
    cursor: pointer;
  }
}

/** GRID home */
@media (min-width: 990px) {
  .grid-box {
    display: grid;
    grid-template: 900px / 0.3fr 1fr;
    gap: 20px 20px
  }

}
